upstream {company}-web {{
        server 127.0.0.1:{xml_port} weight=1 fail_timeout=600s;
}}

server {{
        # server port and name
        listen        80;
        server_name {company}-gestionale.vg7.it;

        # add ssl specific settings
        keepalive_timeout    600;

        # increase proxy buffer to handle some OpenERP Web client requests
        proxy_buffers 32 128k;
        proxy_buffer_size 256k;

        client_max_body_size 0;

        location / {{
                proxy_pass  http://{company}-web;
                # force timeouts if one of backend dies
                proxy_next_upstream error timeout invalid_header http_500 http_502 http_503;

                # set headers
        #        proxy_set_header Host $host;
                proxy_set_header Host $http_host;

                proxy_set_header X-Real-IP $remote_addr;

                proxy_set_header X-Forwarded-Host $http_host;

                proxy_set_header X-Forward-For $proxy_add_x_forwarded_for;


                # Let OpenERP Web client known that we're using HTTPS, otherwise
                # it will generate url using http:// and not https://
#carlo 5 maggio 2015            proxy_set_header X-Forwarded-Proto https;

                # by default, do not forward anything
                proxy_redirect off;
        }}

        # cache some static data in memory for 60mins.
        # under heavy load this will preserve the OpenERP Web client a little bit.
        location ~* ^/(openerp|openobject)/static/ {{
                proxy_cache_valid 200 60m;
                proxy_buffering    on;
                expires 864000;
                proxy_pass http://{company}-web;
        }}
}}
